{% include 'head.t.html' %}
	<body>

		<div class="site-wrapper">

			<div class="site-wrapper-inner">

				<div class="cover-container">

					<div class="masthead clearfix">
						<div class="inner">
						<h3 class="masthead-brand">Guo·Bug</h3>
						<ul class="nav masthead-nav">
						<li class="active"><a href="#">主页</a></li>
						<li><a href="#">文章</a></li>
						<li><a href="#">Contact</a></li>
						</ul>
						</div>
					</div>

					<!-- head 应该到这里 -->

					<div class="inner cover">
						<h1 class="cover-heading"> ~~~欢迎 σ ﾟ∀ ﾟ) ﾟ∀ﾟ)σ 欢迎~~~</h1>
						<p class="lead">既然来了就转转吧.这里就是Up 主自己挖的坑！不知道什么时候能填满。</p>
						<p class="lead">要更多联系方式 这边请 (」・ω・)」うー！(／・ω・)／にゃー！</p>
					</div>

					<div class="mastfoot">
						<div class="inner">
						<p>喜欢折腾的 <a href="https://github.com/GuoBug">Guo·Bug</a>, by <a href="https://twitter.com/GuoBug_Boy">@GuoBug_Boy</a>.</p>
						</div>
					</div>

				</div>

			</div>

		</div>

		<!-- Bootstrap core JavaScript 大的从其他 CDN加载
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		
    	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

		{% load staticfiles %}
		<script src="{% static "js/docs.min.js" %}"></script>
	</body>

</html>