<!DOCTYPE html> 
<html>
	<head> 
		<title>
		Guo·Bug
		</title> 
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="GuoBug,个人网络记录,不定时更新,图样图森破,used Bootstrap python Django GAE google,">
		<meta name="keywords" content="HTML5, 开发,  golang, pyhton, framework, bootstrap, all-end, web development">
		<meta name="author" content="GuoBug">

		<!-- Bootstrap core CSS -->
		{% load staticfiles %}
		<link rel="shortcut icon" href="{% static "img/top.ico" %}">
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />
		<link href="{% static "css/cover.css" %}" rel="stylesheet" />
		<link href="{% static "css/blog.css" %}" rel="stylesheet" />
	</head> 
